.element {
    border: 1px solid black !important;
    border-radius: 50%;
    width: 30px !important;
    height: 30px !important;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.element-dont {
    border: 1px dashed black !important;
    width: 160px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background: cornflowerblue;
}

.grouping-area {
    background: transparent !important;
    font-size: 12px;
    font-weight: 700;
    width: 200px !important;
    height: 200px;
    z-index: 0 !important;
    border: 1px solid #ff0000 !important;
}

.grouping-area-2 {
    background: transparent !important;
    font-size: 8px;
    font-weight: 700;
    width: 120px !important;
    height: 120px;
    z-index: 0 !important;
    border: 1px solid #ff8c00 !important;
}

.button {
    border: 1px solid #ff8c00 !important;
    color: white;
    position: absolute;
    bottom: 0;
    padding: 10px 20px;
    font-size: 18px;
    width: 50%;
    margin: 10px 25%;
    background: #ff0000;
    cursor: pointer;
    z-index: 1000;
}
